<div class="container">
    <form action="/user/find-username" method="get">
        <input name="email" id="email" type="email" maxlength="60" placeholder="email">
        <button type="submit">
            이메일 입력
        </button>
        <br />
        입력하신 이메일로 ID가 전송됩니다
    </form>
</div>