<div class="container mt-3">

    <form>
        <input id="id" type="hidden" value="{{principal.id}}">
        <div class="mb-3 mt-3">
            {{principal.username}}
        </div>
        <div class="mb-3">
            {{principal.name}}
        </div>
        <div class="mb-3">
            {{principal.nickname}}
        </div>
        <div class="mb-3">
            {{principal.school}}
        </div>
        <div class="mb-3">
            {{principal.studentNo}}학번
        </div>

    </form>
</div>